body {
    background-image: url(../img/background.png);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    background-image: url(../img/wrapper-background.png);;;;
}

header, main {
    width: 1024px;
    margin: 0 auto;
}

.seen-wrapper {
    height: 35px;
}

.seen-on {
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;;
    line-height: 35px;

}

.seen-menu {
    width: auto;
    display: inline-block;
    overflow: hidden;
    padding-left: 28px;
    height: 100%;;

}

.seen-menu li {
    float: left;
    text-align: center;
    line-height: 100%;
    height: 100%;
    margin-left: 32px;

}

.seen-menu li img {
    vertical-align: middle;
    display: table-cell;;
    line-height: 35px;}

.seen-menu li:first-child {
    margin-left: 0;

}

.pgx {
    float: right;

}

nav {}

nav h1 {}

.main-menu {
    margin-left: 28px;
    display: inline-block;

}

.main-menu li {
    float: left;
    margin-left: 32px;

}

.main-menu li:first-child {
    margin-left: 0;

}

.banner {}

.banner a {}
